.homePageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #1b2430;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  margin-bottom: 3em;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 85px;
  margin-bottom: 25px;
  pointer-events: none;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #4ade88;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #4aed88;
  color: #4aed88;
  padding: 0 0.25rem;
  margin: 0;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.createNewBtn:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #4ade88;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #1b2430;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.markdown-title {
  background-image: linear-gradient(
    -225deg,
    #eb5353 0%,
    #f9d923 29%,
    #36ae7c 67%,
    #187498 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.links {
  text-align: center;
  width: 150px;
  margin: 1em;
  padding: 1em;
  border: 1px solid #4ade88;
  border-radius: 8px;
  color: white;
}

.links:hover {
  transition: ease 1s;
  background-color: #4ade88;
}

.main-title {
  background-image: linear-gradient(
    -225deg,
    #eb5353 0%,
    #f9d923 29%,
    #36ae7c 67%,
    #187498 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 80px;
  font-weight: 800;
  cursor: default;
}
